@model IEnumerable<FinalProject1.Models.Vehicle>
@{
    ViewData["Title"] = "Details";
}



<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.vehicle_capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.available_seats)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehicle_capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.available_seats)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Vehicle_Id">Edit</a> |
@*                        <a asp-action="Details" asp-route-id="@item.Vehicle_Id">Details</a> |
*@                        <a asp-action="Delete" asp-route-id="@item.Vehicle_Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <p>
        Back to Admin Page
        <a asp-controller="Home" asp-action="admin">click here</a>
    </p>
</div>
